/* apply a natural box layout model to all elements */
*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body, html {
    font-family: sans-serif;
    margin: 0;
}

body {
    padding: 20px;
}

/* spinner */
.spinner {
    margin: -24px 0 0 -24px;
    background-image: url('../img/spinner.gif');
    width: 48px;
    height: 48px;
}

html, body {
    height: 100%;
    background-color: #fff;
}

/* helpers */
.hidden {
    display: none !important;
}

.right,
.left,
.center,
.top,
.bottom {
    position: absolute;
}

.center {
    top: 50%;
    left: 50%;
}

.left {
    left: 0;
}

.right {
    left: auto;
    right: 0;
}

.top {
    top: 0;
}

.bottom {
    top: auto;
    bottom: 0;
}

.landscape {
    display: none;
}

.btn {
    width: 100%;
    display: block;
    font-size: 30px;
}

.well {
    padding: 20px;
}

@media screen and (orientation:portrait) {
    .portrait {
        display: block;
    }
    .landscape {
        display: none;
    }
}

@media screen and (orientation:landscape) {
    .portrait {
        display: none;
    }
    .landscape {
        display: block;
    }
}